*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Electrolize', sans-serif;
}

body{
    background-color: #000000;
    color: #fdfffd;
    font-size: 20px;

}

.containerPrincipal{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerRelogio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;
    height: 80px;
    width: 80px;
    background-color: #ffffff81;
    color: #000000;
    font-weight: bolder;
    border-radius: 10px;
    box-shadow: 0 0 5px #0000006d;
    backdrop-filter: blur(5px);
}
section p {   
    background-color: #00000081;
    color: #fefdfd;
    font-size: 14px;
    box-shadow: 0 0 5px #0000006d;
    margin-top: 10px;
    padding: 2px 10px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}
.containerAmPm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 7px;
    height: 30px;
    width: 50px;
    background-color: #ffffff81;
    color: #000000;
    font-weight: bolder;
    border-radius: 10px;
    box-shadow: 0 0 5px #0000006d;
    font-size: 17px;
}
.ampm{
    font-size: 14px;
    margin-left: 7px;
    margin-top: 5px;
}

@media (min-width: 800px){
    .containerRelogio{
        height: 150px;
        width: 150px;
        font-size: 30px;
    }
    .containerAmPm{
        height: 60px;
        width: 80px;
        font-size: 18px;
        margin-top: 20px;
        margin-left: 10px;
    }
    .ampm{
        font-size: 17px;
        margin-left: 10px;
        margin-top: 10px;
    }
    section p {
        font-size: 22px;
        margin-top: 15px;
        padding: 5px 15px;
    }
}
